@define-color light-aubergine #121212;
@define-color super-light-aubergine #191919;

/* 
   do not use text-shadow until bugzilla.gnome.org bug #686209 is 
   fixed - its leaking memory
*/


#featured-star {
    border-color: #F89516;  /* yellow */
    color: #FFC51D;         /* orange */
}

.grid-lines {
    border-color: shade (@light-aubergine, 1.025);
}

#screenshot-preview {
    border-color: #000;
    color: #fff;
    border-width: 2px;
    border-radius: 3px;
}

.backforward-left-button {
    border-radius: 3px 0 0 3px;
}

.backforward-right-button {
    border-radius: 0 3px 3px 0;
}

.subtle,
#subtle-label {
    -GtkWidget-link-color: #064e9a;
    -GtkWidget-visited-link-color: #215d9c;
    color: shade (@theme_fg_color, 0.8); /* non-link text color */
}

.cellrenderer-button {
    border-radius: 3px;
}

.cellrenderer-avgrating-label {
    color: #a2a2a2; /* dark gray */
}

.cellrenderer-avgrating-label:selected {
    color: white;
}

.more-link {
    -GtkButton-inner-border: 0;
    -GtkButton-default-border: 0;
    -GtkButton-default-outside-border: 0;
    color: #a2a2a2;
    background-color: shade (@super-light-aubergine, 0.925);
    border-color: shade (@super-light-aubergine, 0.875);
}

.frame-header-title {
    /* intentionally left blank */
}

.item-view-separator {
    border-color: shade (@light-aubergine, 0.9);
    border-width: 1px;
}

.light-aubergine-bg {
    background-color: @light-aubergine;
}

.super-light-aubergine-bg {
    background-color: @super-light-aubergine;
    border-color: shade (@super-light-aubergine, 0.975)
}

GtkViewport {
    background-color: @super-light-aubergine;
    border-width: 0;
    padding: 0;
}

GtkTreeView {
    background-color: @super-light-aubergine;
	color: #fff;
}

GtkTreeView:selected {
    background-color: @theme_selected_bg_color;
}

#toolbar-popup {
    padding: 0;
}
