/*
 *Ubuntu Styles
 */

GtkPaned {
    background-color: @theme_bg_color;
}

/* Background hack to make DejaDup Assistant windows not turn black when
 * overlay scrollbars are enabled.
 */
Assistant GtkEventBox {
    background-color: @theme_bg_color;
}

/* ... and for Evolution's mail preferences window */
EPreferencesWindow GtkNotebook GtkAlignment GtkVBox {
    background-color: @theme_bg_color;
}

.entry.readonly {
    background-color: #b2b2b2;
    background-image: none;
}

GtkHeaderBar > GtkStack,
GtkHeaderBar > GtkStack:insensitive {
    background-color: transparent;
}

.notebook GtkDrawingArea {
        background-color: shade (@theme_bg_color, 1.02);
}

/* overlay scrollbar */
OsThumb {
    color: shade (@theme_fg_color, 1.6);
}

OsThumb:selected,
GtkScrollbar:selected {
    background-color: @theme_selected_bg_color;
}

OsThumb:active,
GtkScrollbar:active {
    background-color: shade (@theme_bg_color, 0.6);
}

OsThumb:insensitive,
GtkScrollbar:insensitive {
    background-color: shade (@theme_bg_color, 0.85);
}

/*******************
 * scrolled window *
 *******************/
.ubuntu-online-accounts.frame,
GtkScrolledWindow.frame {
    border-top-color: #161616;
    border-right-color: #161616;
    border-bottom-color: #161616;
    border-left-color: #161616;
    border-radius: 0;
    border-style: solid;
}

.ubuntu-online-accounts.frame {
    border-top-width: 0;
}
/***********
 * Menubar *
 ***********/
.menubar {
  -GtkWidget-window-dragging: true;
  padding: 0px;
  box-shadow: none; }

/***************
 * Header bars *
 ***************/
.titlebar, GtkCalendar.header,
.header-bar {
  padding: 6px;
  border-width: 0;
  border-style: solid;
  border-color: black;
  border-radius: 0;
  background-color: transparent;
  background-image:  url("assets/subtle_carbon.png"); 
  box-shadow: none;}
  .titlebar:backdrop, GtkCalendar.header:backdrop,
  .header-bar:backdrop {
    border-color: black;
    background-color:transparent;
    background-image:  url("assets/subtle_carbon.png"); 
    box-shadow: none; }
  .titlebar .title, GtkCalendar.header .title,
  .header-bar .title {
   }
  .titlebar .subtitle, GtkCalendar.header .subtitle,
  .header-bar .subtitle {
   }
  .titlebar .header-bar-separator, GtkCalendar.header .header-bar-separator, .titlebar > GtkBox > .separator.vertical, GtkCalendar.header > GtkBox > .separator.vertical,
  .sidebar .view .titlebar > GtkBox > .vertical.separator:backdrop,
  .sidebar .view GtkCalendar.header > GtkBox > .vertical.separator:backdrop,
  .header-bar .header-bar-separator,
  .header-bar > GtkBox > .separator.vertical,
  .sidebar .view .header-bar > GtkBox > .vertical.separator:backdrop {
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 1px;
    border-width: 0 1px;
    border-image: linear-gradient(to bottom, alpha(@borders, 0.0), @borders 30%, @borders 70%, alpha(@borders, 0.0) 100%) 0 1/0 1px stretch; }
    .titlebar .header-bar-separator:backdrop, GtkCalendar.header .header-bar-separator:backdrop, .titlebar > GtkBox > .separator.vertical:backdrop, GtkCalendar.header > GtkBox > .separator.vertical:backdrop,
    .header-bar .header-bar-separator:backdrop,
    .header-bar > GtkBox > .separator.vertical:backdrop {
      border-image: linear-gradient(to bottom, alpha(@borders, 0.5)) 0 1/1px 1px; }
 /*
 * Header Bars
 *
 * The following rules only style header bars when they are used as a window's
 * titlebar widget (i.e., they have .titlebar set as well).
 *
 * Some applications reuse their header bar as a primary toolbar on desktops
 * that prefer showing traditional title bars. The rules for those are further
 * down grouped with normal toolbars.
 */
.titlebar.header-bar {
    background-image:  url("assets/subtle_carbon.png");
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    border-radius: 0;

    color: @fg_color;
    text-shadow: 0 -1px shade (black, 0.3);

    box-shadow: none;
}

.titlebar.header-bar .title {
    font: bold;
}

.titlebar.header-bar:backdrop {
    border-color: black;
    background-color: transparent;
    background-image: url("assets/subtle_carbon.png");
    box-shadow: none;
}

.maximized .titlebar.header-bar {
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.titlebar.header-bar .button.titlebutton {
    background-color: transparent;
    border-image-width: 0;
    box-shadow: none;
}

.titlebar.header-bar .button.titlebutton:hover {
    border-image-width: 12px;
}

.toolbar, .inline-toolbar, .search-bar, .location-bar {
  -GtkWidget-window-dragging: true;
  padding: 4px;
  background-color: @theme_bg_color;
box-shadow: inset 0 1px rgba(0, 0, 0, 0.1); }
  .osd .toolbar, .osd .inline-toolbar, .osd .search-bar, .osd .location-bar, .toolbar.osd, .osd.inline-toolbar, .osd.search-bar, .osd.location-bar {
    padding: 13px;
    border: rgba(239, 233, 225, 0.1);
    border-radius: 0px;
    background-color: rgba(9,7,5,0.7);
    background-clip: padding-box; }
    
.primary-toolbar,
.header-bar {
    -GtkWidget-window-dragging: true;

    background-color: @theme_bg_color;
box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
}

.primary-toolbar:backdrop,
.header-bar:backdrop {
    background-color: @theme_unfocused_bg_color;
box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
}

.primary-toolbar :insensitive,
.header-bar :insensitive {
    text-shadow: 0 -1px shade (@insenesitive_bg_color, 0.7);
}
 
.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:insensitive,
.header-bar GtkSeparatorToolItem,
.header-bar .separator,
.header-bar .separator:insensitive { 
-GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 1px;
    border-width: 0 1px;
    border-image: linear-gradient(to bottom, alpha(@borders, 0.0), @borders 30%, @borders 70%, alpha(@borders, 0.0) 100%) 0 1/0 1px stretch; }





