[init]
	defaultBranch = main

[pull]
	rebase = false

[user]
	email = clayrisser@gmail.com
	name = Clay Risser

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[merge]
	tool = code
	conflictstyle = merge
[mergetool]
	keepTemporaries = false
	keepBackup = false
[mergetool "code"]
	cmd = /usr/share/codium/codium \"$BASE\"

[diff]
	tool = code
[difftool "code"]
	cmd = /usr/share/codium/codium --wait --diff \"$LOCAL\" \"$REMOTE\"
